* {
    margin:0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}

.red{
    border: 1px solid black;
    padding:10px;
    background-color:burlywood;
    width:32%;
    position:relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.red:last-of-type {
    margin-right: 0;
}

section{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    padding: 2px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#section1{
    background-color: antiquewhite;
}

#section2{
    background-color: azure;
}

#section3{
    background-color: beige;
}

/* setting the media queries */

@media screen and (min-width: 768px) and (max-width: 991px){
    body {
        margin: 0 25px;
    }
   
    .red{
        width: 48%;
    }

    .green{
        width: 97%;
        position: relative;
}

@media screen and (max-width: 767px){
    body {
        margin: 0 25px;
    }
    
    .red{
        width: 100%;
        float: none;
    }
}
